<div>
  <mat-toolbar color="primary">
    <a mat-button href="/">Amazona</a>
    <div class="toolbar-spacer"></div>
    <div>
      <a mat-button href="/cart">Cart</a>
      <a mat-button href="/login">Login</a>
    </div>
  </mat-toolbar>
  <div class="container">
    <h2>Latest Products</h2>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="25%" *ngFor="let product of products">
        <mat-card>
          <a [href]="'/product/' + product.slug">
            <img mat-card-image [src]="product.image" [alt]="product.name" />
            <mat-card-content>
              <p>
                {{ product.name }}
              </p>
            </mat-card-content>
          </a>
          <mat-card-actions>
            <span>${{ product.price }}</span>
            <button mat-button>ADD TO CART</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
